<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.3.0" targetFramework="net472" />
  <package id="Dapper" version="1.50.5" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.8.8" targetFramework="net472" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Polly" version="6.1.0" targetFramework="net472" />
  <package id="Serilog" version="2.5.0" targetFramework="net472" />
  <package id="Serilog.Extensions.Logging" version="2.0.2" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net472" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net472" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net472" />
  <package id="System.Collections" version="4.0.11-rc2-24027" targetFramework="net472" />
  <package id="System.Console" version="4.0.0-rc2-24027" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.0.11-rc2-24027" targetFramework="net472" />
  <package id="System.Globalization" version="4.0.11-rc2-24027" targetFramework="net472" />
  <package id="System.IO" version="4.1.0-rc2-24027" targetFramework="net472" />
  <package id="System.Linq" version="4.1.0-rc2-24027" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.0.11-rc2-24027" targetFramework="net472" />
  <package id="System.Reflection" version="4.1.0-rc2-24027" targetFramework="net472" />
  <package id="System.Reflection.Extensions" version="4.0.1-rc2-24027" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0-rc2-24027" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.0.1-rc2-24027" targetFramework="net472" />
  <package id="System.Runtime" version="4.1.0-rc2-24027" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.1.0-rc2-24027" targetFramework="net472" />
</packages>